@model MicroElectronic.Domain.ViewModels.Pagination.IndexViewModel
@{
    ViewData["Title"] = "Оборудование";
    TempData["CategoryId"] = ViewData["CategoryId"];
}
<head>
    <link rel="stylesheet" href="~/css/equipments.css" asp-append-version="true" />
</head>
<div class="container main-container">
    <h1 class="display-5 mt-3 fs-1 mb-2"><b>Список оборудования</b></h1>
    <h1 class="display-5 mt-3 fs-3 mb-4"><b> Категория: @ViewData["CategoryTitle"]</b></h1>
    @if (Model.Equipments.Count() == 0)
    {
        <div class="container">
            <div class="alert alert-warning" role="alert">
                В настоящий момент список оборудования пуст.
                <a asp-action="Index" asp-controller="Catalog" class="alert-link">Перейти в каталог</a>
            </div>
        </div>
    }
    else
    {
        @foreach (var equipment in @Model.Equipments)
        {
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 equip-image text-center d-none d-sm-none d-md-none d-lg-flex">
                                <img class="img-fluid equip-image-list" src="@equipment.ImageUrl" />
                            </div>
                            <div class="col-10 text-start">
                                <div class="row">
                                    <div class="card-title"><b>@equipment.Name</b></div>
                                </div>
                                <div class="row">
                                    <p>@equipment.Description</p>
                                </div>
                                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
                                    <div class="col align-middle mb-2 mb-sm-2 mb-md-0 mb-lg-0">
                                        <span class="fs-4">&#8381 @equipment.Price</span>
                                    </div>
                                    <div class="col text-start text-sm-start text-md-end text-lg-end">
                            <a role="button" class="btn btn-outline-warning mb-2 mb-sm-2 mb-md-2 mb-lg-2 mb-xl-2 mx-3" onclick="openEditModal({id:@equipment.Id, url: '/Items/Edit'})" data-toggle="ajax-modal" data-target="Modal">Изменить</a>
                            <a role="button" class="btn btn-outline-danger mb-2 mb-sm-2 mb-md-2 mb-lg-2 mb-xl-2 mx-3" onclick="openDeleteModal({id:@equipment.Id, url: '/Items/Delete'})" data-toggle="ajax-modal" data-target="Modal">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        }
    }
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
    <div class="container">
                    <a class="text-black" role="button" onclick="openEditModal({id: 0, url: '/Items/Edit'})">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 equip-image text-center d-none d-sm-none d-md-none d-lg-flex">
                                <img class="img-fluid equip-image-list" src="~/lib/images/plus.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container overflow-hidden text-center mt-5">
            <a class="btn btn-success p-3 btnround" asp-controller="Items" asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber)" asp-route-category="@ViewData["CategoryId"]">end</a>
        </div>
    }
</div>

<script src="~/js/addToApplication.js" asp-append-version="true"></script>
<script src="~/js/editCategory.js" asp-append-version="true"></script>
<script src="~/js/deleteCategory.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>