@model MicroElectronic.Domain.ViewModels.Order.OrderViewModel
@{
    Guid orderId = Guid.NewGuid();
    int number = 1;
    decimal summ = 0;
    foreach (var item in Model.OrderItems)
    {
        summ += item.Quantity * item.Price;
    }
}

<form asp-action="CreateOrder" enctype="multipart/form-data" id="formCreateOrder" method="post">
    <input type="hidden" asp-for="OrderId" value="@orderId"/>
    <div class="mb-3">
        <h5>Идентификатор заказа - @orderId</h5>
    </div>
        <!--
    <div class="mb-3">
        <label asp-for="@Model.UserName" class="col-form-label">Имя</label>
        <input asp-for="UserName" type="text" value="@User.FindFirst("UserName").Value" class="form-control" disabled readonly/>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.UserSurname" class="col-form-label">Фамилия</label>
        <input asp-for="UserSurname" type="text" value="@User.FindFirst("UserSurname").Value" class="form-control" disabled readonly/>
    </div>
        -->
    <div class="mb-2">
        <h5>Список оборудования:</h5>
    </div>
    <div class="row mb-3">
        @foreach (var item in Model.OrderItems)
        {
            <div class="col-1">
                <div class="m-2">
                    @(number++).
                </div>
            </div>
            <div class="col">
                <div class="m-2">
                    <div>@item.Name</div>
                </div>
            </div>
            <div class="col">
                <div class="m-2">
                    <div>&#8381 @item.Price</div>
                </div>
            </div>
            <div class="col">
                <div class="m-2">
                    <div>@item.Quantity шт.</div>
                </div>
            </div>
        }
    </div>
    <div class="mb-4">
        <h5>Итоговая сумма: &#8381 @(summ)</h5>
    </div>
    <div class="row">
        <div class="col text-start">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
        <div class="col text-end">
            <input type="submit" class="btn btn-primary" value="Купить" />
        </div>
    </div>
</form>